@font-face {
  font-family: 'Figgins';
  font-weight: normal;
  src: url('fonts/Figgins.woff') format('woff');
}

@font-face {
  font-family: 'Figgins';
  font-weight: bold;
  src: url('FigginsBold.woff') format('woff');
}
